#tagchecklist_related {
  padding-bottom: 10px;
}
#tagchecklist_related span {
  width: 100%;
  white-space: normal;
  margin-right: 0;
  float: none;
}
#spinner_related {
  display: block;
  margin: 0;
}
